.daymenutext{
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 150px;
    left: 5%;
    z-index: 1;
    width: 600px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.daymenutext h1{
    text-align: center;
}

